node_modules/
.pnpm-store/
.yarn/unplugged/

dist/
build/
.vite/
coverage/
.nyc_output/
*.tsbuildinfo

.env
.env.*.local
*.local

*log
*.patch

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.idea/
.vscode/
*.code-workspace
*.sublime-project
*.sublime-workspace

backend/db/storage/*
!backend/db/storage/test*.md
backend/test.bat
backend/storage

grafana/data/plugins/*
grafana/data/grafana.db
