services:
  db:
    image: postgres:17
    container_name: markdown-db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:${DB_PORT}"
    networks:
      - markdown-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./auth/db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro

  backend:
    image: sid00r/markdown-backend:latest
    build: ./backend
    container_name: markdown-backend
    environment:
      - BACKEND_HOST=${BACKEND_HOST}
      - BACKEND_PORT=${BACKEND_PORT}
      - JWT_SECRET=${JWT_SECRET}
    ports:
      - "${BACKEND_PORT}:${BACKEND_PORT}"
    networks:
      - markdown-network
    volumes:
      - storage:/root/storage
    restart: unless-stopped
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "timeout 5 bash -c 'echo > /dev/tcp/localhost/${BACKEND_PORT}' || exit 1",
        ]
      interval: 15s
      timeout: 10s
      retries: 5
      start_period: 40s

  auth:
    image: sid00r/markdown-auth:latest
    build: ./auth
    container_name: markdown-auth
    environment:
      - AUTH_HOST=${AUTH_HOST}
      - AUTH_PORT=${AUTH_PORT}
      - JWT_SECRET=${JWT_SECRET}
      - AUTH_DATABASE_URL=postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=${DB_SSLMODE}
    ports:
      - "${AUTH_PORT}:${AUTH_PORT}"
    depends_on:
      - db
    networks:
      - markdown-network
    restart: unless-stopped
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "timeout 5 bash -c 'echo > /dev/tcp/localhost/${AUTH_PORT}' || exit 1",
        ]
      interval: 15s
      timeout: 10s
      retries: 5
      start_period: 40s

  gigachat_proxy:
    image: sid00r/markdown-gigachat-proxy:latest
    build: ./gigachat_proxy
    container_name: markdown-gigachat-proxy
    environment:
      - GIGACHAT_PROXY_PORT=${GIGACHAT_PROXY_PORT}
      - GIGACHAT_PROXY_HOST=${GIGACHAT_PROXY_HOST}
      - GIGACHAT_AUTH_KEY=${GIGACHAT_AUTH_KEY}
    ports:
      - "${GIGACHAT_PROXY_PORT}:${GIGACHAT_PROXY_PORT}"
    networks:
      - markdown-network
    restart: unless-stopped
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "timeout 5 bash -c 'echo > /dev/tcp/localhost/${GIGACHAT_PROXY_PORT}' || exit 1",
        ]
      interval: 15s
      timeout: 10s
      retries: 5
      start_period: 40s

  frontend:
    image: sid00r/markdown-frontend:latest
    build: ./frontend
    container_name: markdown-frontend
    environment:
      - FRONTEND_HOST=${FRONTEND_HOST}
      - FRONTEND_PORT=${FRONTEND_PORT}
      - VITE_STORAGE_API_BASE_URL=${VITE_STORAGE_API_BASE_URL}
      - VITE_AUTH_API_BASE_URL=${VITE_AUTH_API_BASE_URL}
    ports:
      - "${FRONTEND_PORT}:${FRONTEND_PORT}"
    depends_on:
      - backend
      - auth
    networks:
      - markdown-network
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    container_name: markdown-prometheus
    volumes:
      - ./prometheus/:/etc/prometheus/
    ports:
      - "9090:9090"
    command:
      - --config.file=/etc/prometheus/prometheus.yml
    networks:
      - markdown-network
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: markdown-grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    environment:
      - GF_SECURITY_ADMIN_USER=${GF_SECURITY_ADMIN_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GF_SECURITY_ADMIN_PASSWORD}
    user: "1000"
    volumes:
      - ./grafana/data:/var/lib/grafana
      - ./grafana/grafana.ini:/etc/grafana/grafana.ini:ro
      - ./grafana/provisioning:/etc/grafana/provisioning
    networks:
      - markdown-network
    restart: unless-stopped

  node_exporter:
    image: prom/node-exporter:latest
    container_name: markdown-node-exporter
    ports:
      - "9100:9100"
    networks:
      - markdown-network
    restart: unless-stopped

networks:
  markdown-network:
    driver: bridge

volumes:
  storage:
  db-data:
