global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node_exporter'
    static_configs:
      - targets: ['markdown-node-exporter:9100']

  - job_name: 'go_metrics'
    static_configs:
      - targets: ['markdown-backend:1234']
    tls_config:
      insecure_skip_verify: true