apiVersion: 1
groups:
    - orgId: 1
      name: Alerts
      folder: Alerts
      interval: 30s
      rules:
        - uid: cf2bacpvpqhhcf
          title: HTTP requests
          condition: C
          data:
            - refId: A
              relativeTimeRange:
                from: 300
                to: 0
              datasourceUid: PBFA97CFB590B2093
              model:
                adhocFilters: []
                datasource:
                    type: prometheus
                    uid: PBFA97CFB590B2093
                editorMode: code
                expr: rate(http_requests_total[1m]) * 60
                instant: true
                interval: ""
                intervalMs: 15000
                legendFormat: __auto
                maxDataPoints: 43200
                range: false
                refId: A
            - refId: C
              datasourceUid: __expr__
              model:
                conditions:
                    - evaluator:
                        params:
                            - 100
                        type: gt
                      operator:
                        type: and
                      query:
                        params:
                            - C
                      reducer:
                        params: []
                        type: last
                      type: query
                datasource:
                    type: __expr__
                    uid: __expr__
                expression: A
                intervalMs: 1000
                maxDataPoints: 43200
                refId: C
                type: threshold
          dashboardUid: ad9zz59
          panelId: 1
          noDataState: NoData
          execErrState: Error
          for: 30s
          annotations:
            __dashboardUid__: ad9zz59
            __panelId__: "1"
          labels: {}
          isPaused: false
          notification_settings:
            receiver: Telegram alerts
