name: CI/CD Pipeline

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches: ["*"]
  workflow_dispatch:

env:
  BACKEND_HOST: ${{ secrets.BACKEND_HOST }}
  BACKEND_PORT: ${{ secrets.BACKEND_PORT }}
  AUTH_HOST: ${{ secrets.AUTH_HOST }}
  AUTH_PORT: ${{ secrets.AUTH_PORT }}
  GIGACHAT_PROXY_HOST: ${{ secrets.GIGACHAT_PROXY_HOST }}
  GIGACHAT_PROXY_PORT: ${{ secrets.GIGACHAT_PROXY_PORT }}
  GIGACHAT_AUTH_KEY: ${{ secrets.GIGACHAT_AUTH_KEY }}
  FRONTEND_HOST: ${{ secrets.FRONTEND_HOST }}
  FRONTEND_PORT: ${{ secrets.FRONTEND_PORT }}
  VITE_STORAGE_API_BASE_URL: https://localhost:${{ secrets.BACKEND_PORT }}
  VITE_AUTH_API_BASE_URL: https://localhost:${{ secrets.AUTH_PORT }}
  VITE_GIGACHAT_PROXY_API_BASE_URL: https://localhost:${{ secrets.GIGACHAT_PROXY_PORT }}

  DB_HOST: markdown-db
  DB_PORT: ${{ secrets.DB_PORT }}
  DB_USER: ${{ secrets.DB_USER }}
  DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
  DB_NAME: ${{ secrets.DB_NAME }}
  DB_SSLMODE: disable

  JWT_SECRET: ${{ secrets.JWT_SECRET }}

  LOG_DIR: /var/logs/markdown-editor

  GF_SECURITY_ADMIN_USER: ${{ secrets.GF_SECURITY_ADMIN_USER }}
  GF_SECURITY_ADMIN_PASSWORD: ${{ secrets.GF_SECURITY_ADMIN_PASSWORD }}

jobs:
  test-backend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Golang
        uses: actions/setup-go@v6
        with:
          go-version: v1.25
          cache: true

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: v2.7.2
          args: --timeout=3m
          working-directory: ./backend

      - name: Create .env file
        run: |
          cat << EOF > .env
          LOG_DIR=$LOG_DIR
          JWT_SECRET=test-secret
          EOF

      - name: Create logs directory and set permissions
        run: |
          sudo mkdir -p $LOG_DIR
          sudo chown -R $USER $LOG_DIR
          sudo chmod -R 775 $LOG_DIR

      - name: Run tests
        run: go test ./... -v

      - name: Build application
        run: go build -o app .

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: go-backend
          path: ./backend/app

  test-auth-service:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./auth

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Golang
        uses: actions/setup-go@v6
        with:
          go-version: v1.25
          cache: true

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: v2.7.2
          args: --timeout=3m
          working-directory: ./backend

      - name: Create logs directory and set permissions
        run: |
          sudo mkdir -p $LOG_DIR
          sudo chown -R $USER $LOG_DIR
          sudo chmod -R 775 $LOG_DIR

      - name: Run tests
        run: go test -v

  build-frontend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18"

      - name: Generate TLS certificate
        run: |
          mkdir -p tls
          openssl req -x509 -newkey rsa:4096 -keyout tls/key.crt -out tls/cert_frontend.crt -days 365 -nodes -subj "/CN=localhost"

      - name: Install frontend dependencies
        run: npm install

      - name: Build frontend
        run: npm run build

  test-docker-compose:
    runs-on: ubuntu-latest
    needs: [test-backend, build-frontend, test-auth-service]
    outputs:
      backend-image: ${{ steps.build-backend.outputs.image }}
      auth-image: ${{ steps.build-auth.outputs.image }}
      frontend-image: ${{ steps.build-frontend.outputs.image }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Generate TLS certificates
        run: |
          for service in backend auth gigachat_proxy frontend; do
            mkdir -p $service/tls
            openssl req -x509 -newkey rsa:4096 -keyout $service/tls/key.crt -out $service/tls/cert_${service}.crt -days 365 -nodes -subj "/CN=localhost"
          done

      - name: Create .env file for Docker Compose
        run: |
          printenv | grep -E '^(BACKEND_HOST|BACKEND_PORT|AUTH_HOST|AUTH_PORT|FRONTEND_HOST|FRONTEND_PORT|VITE_STORAGE_API_BASE_URL|VITE_AUTH_API_BASE_URL|JWT_SECRET|LOG_FILE|DB_HOST|DB_PORT|DB_USER|DB_PASSWORD|DB_NAME|DB_SSLMODE|GF_SECURITY_ADMIN_USER|GF_SECURITY_ADMIN_PASSWORD)=' > .env

      - name: Deploy with Docker Compose
        run: |
          docker compose down --remove-orphans
          docker compose up -d --build

      - name: Verify health of services
        run: |
          sleep 15
          docker compose ps
          if [ $(docker compose ps --services | grep -c 'backend\|frontend\|auth') -ne 3 ]; then
            echo "Not all services are running"
            docker compose logs --tail=50
            exit 1
          fi

          declare -A services=(
            ["backend"]="https://$BACKEND_HOST:$BACKEND_PORT/health"
            ["auth"]="https://$AUTH_HOST:$AUTH_PORT/health"
            ["frontend"]="https://$FRONTEND_HOST:$FRONTEND_PORT"
          )

          for service in "${!services[@]}"; do
            url="${services[$service]}"
            echo "Checking $service health at $url"
            if ! curl -k -f -v -s -S -o /dev/null -w "HTTP Status: %{http_code}\n" "$url"; then
              echo "ERROR: $service health check failed!"
              echo "$service logs:"
              docker compose logs "$service" --tail=35
              exit 1
            else
              echo "$service health check passed!"
              docker compose logs "$service" --tail=35
            fi
          done

          echo "All services are healthy and responding!"

  build-and-push-docker-images:
    #if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs: [test-docker-compose]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push backend image
        run: |
          docker tag ${{ needs.test-docker-compose.outputs.backend-image }} ${{ secrets.DOCKERHUB_USERNAME }}/markdown-backend:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/markdown-backend:latest

      - name: Push auth-service image
        run: |
          docker tag ${{ needs.test-docker-compose.outputs.auth-image }} ${{ secrets.DOCKERHUB_USERNAME }}/markdown-auth:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/markdown-auth:latest

      - name: Push frontend image
        run: |
          docker tag ${{ needs.test-docker-compose.outputs.frontend-image }} ${{ secrets.DOCKERHUB_USERNAME }}/markdown-frontend:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/markdown-frontend:latest
